.container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 20%;
  }
  
  .tweets {
    width: 60%;
    padding: 10px;
  }
  
  .tweetInput {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
  }
  
  .recommendedUsers {
    width: 20%;
  }
  