.profileContainer {
    display: flex;
    flex-direction: row;
    background-color: hsl(203, 89%, 53%);
      color: white; /* 將文字設為白色 */
    }
    
  
  .sidebarWrapper {
    flex: 1;
      display: flex;
      justify-content: center;

    }
    
  
  .profileInfo {
    flex: 3;
    display: flex;
    flex-direction: column; 
    padding: 10px;
  }

  .profileInfoUpper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
  
  .profileImageEditContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* 調整上方間距 */
    min-height: 125px;
  }
  
  .profileImageContainer {
    position: absolute;
    right: 250px;
    top: 25px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明的白色背景 */
    margin: 0 auto 10px;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .introduction {
    display: flex;
    padding: 10px;
    font-size: 16px;
    margin-left: 200px;
  }
  .followStats{
    display: flex;
    margin-left:200px;
  }

  .followStats p{
    margin-left: 10px;
  }
  .tweetBox{
    min-height: 100px;
    }
  
  .tweets {
    flex: 1; /* Expand to fill available space */
    flex-grow: 1;
    margin-right: 100px;
  }

  
  .recommendedUsersWrapper {
    flex: 1;
    margin-left: 20px;
  }
  