.profileContainer {
    display: flex;
    flex-direction: row;
  }
  
  .sidebarWrapper {
    flex: 1;
    }
  
  .profileInfo {
    flex: 3;
    display: flex;
    flex-direction: column; 
    padding: 10px;
  }

  .profileInfoUpper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }
  
  .profileImageEditContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* 調整上方間距 */
  }
  
  .profileImageContainer {
    position: absolute;
    right: 250px;
    top: 75px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明的白色背景 */
    margin: 0 auto 10px;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  
  .introduction {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
  
  .tweets {
    flex: 1; /* Expand to fill available space */
    padding: 10px;
  }
  
  .recommendedUsersWrapper {
    flex: 1;
  }
  