
  .recommended-users-container {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
  }
  
  .userCard {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    display: flex;
  }
  
  .userCard img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .userCard h3 {
    margin-left: 10px;
  }
  
  .userCard p {
    margin: 5px 0;
  }
  
  .userCard a {
    display: block;
    text-decoration: none;
    color: #007bff;
  }

  .followBtn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 10px;
    position: absolute;  
    bottom: 0;  
    right: 0;  
    cursor: pointer;
  }
  
  