body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(8,160,233);
}

.register-form {
  width: 300px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.twitter-logo {
  display: block;
  margin: 0 auto;
  width: 15%;
  height: auto;
}

.h1 {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  font-size: 20px;
}

input {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 15px 120px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top:50px ;
}

button:hover {
  background-color: #1991db;
}