
.twitterLogo img {
  width: 100px; /* 控制寬度 */
  height: auto; /* 保持寬高比 */
}


/* 項目間距 */
ul {
  padding: 20px;
  list-style-type: none;
    font-size: 18px;

}

.item {
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease; /* 添加過渡效果 */
  font-size: 24px;
  font-weight: bold;
}
.item:hover {
  background-color: #005cbf; /* 深藍色背景 */
  border-radius: 12px; /* 圓弧狀邊緣 */
  color: white; /* 文字變為白色 */
}

.active {
  background-color: #005cbf;
  color: white;
  border-radius: 12px;
}
.icon {
  margin-right: 16px;
  font-size: 30px; 
}




