.tweetInput {
  width: 90%;
  min-height: 100px;
  margin-bottom: 10px;
  background-color: hsl(203, 89%, 53%);
  padding-left: 75px; 
  border: 0.5px solid white;
}

.tweetInput::placeholder {
  color: grey;
  font-size: 16px;
}

.tweetBox {
  position: relative;
}

.tweetButton {
  position: absolute;
  bottom: -40px;
  right: 10px;
  background-color: hsl(203, 89%, 65%);
  /* 設置背景顏色 */
  padding: 15px 60px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  color: white;
}

.tweetButton:hover {
  background-color: #005cbf;
}

.profileImage {
  position: absolute; 
  top: 5px;  
  left: 5px; 
  border-radius: 50%;  
  width: 50px; 
  height: 50px; 
}
