.tweets {
    width: 100%;
  }

.tweets li {
  border: 1px solid white;
  padding: 10px 20px; 
  box-sizing: border-box;  
}

  
.iconContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.iconButton {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.liked{
  background-color:red;
}



