.tweets {
    width: 100%;
    margin-bottom: 0;
  }

.tweets li {
  border: 1px solid white;
  padding: 10px 20px; 
  box-sizing: border-box;  
  list-style-type: none;

}

.tweetContainer {
  display: flex;
  align-items: start; 
}

.profileImageContainer {
  margin-right: 15px; 
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%; 
}

.tweetHeader {
  display: flex;
  justify-content: flex-start; 
}

.tweetHeader p:nth-child(2) {
  margin-left: 20px;
}


.tweetContent {
  flex-grow: 1; 
}
.tweetContent p {
  margin-bottom: 2px; 
}

  
.iconContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  
}

.iconButton {
  display: flex;
  align-items: center;
  margin-right: 20px;
  border: none;          
  background: transparent; 
  padding: 0;            
  cursor: pointer;    
  font-size: 16px;   
}

.liked{
  background-color:red;
}



/* modal 裝飾 */

.modalContent{
  overflow-y: auto; /* 增加垂直捲軸 */
}

.modalContent .tweetContainer {
  border: 0.5px solid hsl(203, 89%, 53%);
}

.tweetInput {
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 75px; 
  border: 0.5px solid hsl(203, 89%, 53%);
}

.tweetInput::placeholder {
  color: grey;
  font-size: 16px;
}

.tweetBox{
  position: relative;
}

.tweetBox .profileImage{
  position:absolute;
  top: 10px;
  left: 0;
}

.commentHeader {
  display: flex;            
  justify-content: flex-start; 
}

.commentHeader p:nth-child(2) {
  margin-left: 20px;
}
.commentContainer{
  display: flex;
  align-items: flex-start; 
  position: relative;
  padding-left: 60px; 
  border: 0.5px solid hsl(203, 89%, 53%);
}

.commentProfileImage{
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  position: absolute;
  top: 0;
  left: 0;
}

.commentButton {
  border-radius: 25px;  
  background-color: hsl(203, 89%, 65%);  
  color: white;  
  padding: 15px 60px;  
  border: none;          
  transition: background-color 0.3s ease; 
  margin-left: 15px;
}

.commentButton:hover {
  background-color: #0056b3;  /* 懸停時的背景顏色 */
}
